<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.2/css/bulma.min.css">
</head>

<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item is-tab is-active">Your todos</a>
    </div>
  </div>
</nav>

<div class="container">
    {{outlet}}
</div>